<?xml version="1.0"?>
<robot name="myfirst">
    <link name="base_link">
        <visual>
            <geometry>
                <cylinder length="2" radius="0.06"/>
            </geometry>
            <material name="gray">
                <color rgba="0 0 0.5 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <cylinder length="2" radius="0.06"/>
            </geometry>
        </collision>
        <inertial>
        <mass value="1000"/>
        <inertia ixx="1" ixy="1" ixz="1" iyy="1" iyz="1" izz="1"/>
        <contact mu = "1" kp = "0" kd = "0"/> 
        </inertial>
    </link>


</robot>
